
@import "./variables.sass"
@import "./header.sass"
@import "./product-container.sass"

body
    box-sizing: border-box
    margin: 0
    padding: 0
    background-color: $primary
    color: $text-black


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

