@import "./header.sass"
@import "./variables.sass"
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

body
    margin: 0
    background-color: $primary
    color: #dddddd
